.background{
    border-radius: 100%;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

.square-empty{
    width: 26px;
    height: 26px;
    border: 6px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    position: absolute;
    top: 40;
    left: 30;
    transform: rotate(45deg);
}

.square-filled{
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255);
    border: 6px solid rgba(255, 255, 255);
    border-radius: 4px;
    position: absolute;
    top: 40;
    left: 48;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
}
  